# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/

# Deplyoment binaries/files
distribution/vipm/*.vip
distribution/archive/*.vip
distribution/working/*
source/data/bin/*.*
source/lv-builder*.json
